*.exe filter=lfs diff=lfs merge=lfs -text
[[:space:]]MetaEditor64.exe filter=lfs diff=lfs merge=lfs -text
terminal64.exe filter=lfs diff=lfs merge=lfs -text
MetaEditor64.exe filter=lfs diff=lfs merge=lfs -text
metatester64.exe filter=lfs diff=lfs merge=lfs -text
C:/Users/shepa/OneDrive/8.0 filter=lfs diff=lfs merge=lfs -text
Projects/8.3 filter=lfs diff=lfs merge=lfs -text
ProjectModelsEquinox/EQUINRUN/MQL5/Brokers/Metaquotes/MetaEditor64.exe filter=lfs diff=lfs merge=lfs -text
C:/Users/shepa/OneDrive/8.0[[:space:]]Projects/8.3[[:space:]]ProjectModelsEquinox/EQUINRUN/MQL5/Brokers/Metaquotes/MetaEditor64.exe filter=lfs diff=lfs merge=lfs -text
C:/Users/shepa/OneDrive/8.0[[:space:]]Projects/8.3[[:space:]]ProjectModelsEquinox/EQUINRUN/MQL5/Brokers/Metaquotes//metatester64.exe filter=lfs diff=lfs merge=lfs -text
C:/Users/shepa/OneDrive/8.0[[:space:]]Projects/8.3[[:space:]]ProjectModelsEquinox/EQUINRUN/MQL5/Brokers/Metaquotes/terminal64.exe filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.zip[[:space:]]*.exe filter=lfs diff=lfs merge=lfs -text
/terminal64.exe filter=lfs diff=lfs merge=lfs -text
